@font-face {
  font-family: 'raleway';
  font-style: normal;
  src: url('media/assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}

.App {
  /*font-family: 'raleway';*/
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*font-family: 'raleway';*/
}

.App-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /*font-family: 'raleway';*/
}

.Welcome {
  margin: 20px 10px;
  justify-content: left;
  text-align: left;
  display: flex;
  flex-direction: column;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
